
<h1>Mi primer aplicacion en Angular</h1>

SI HACER ESTO
<p>Gracias por visitarnos {{usuario.nobre}} {{usuario.apellido}}</p>

<!--NO HACER ESTO
<h3>Desarrollado por {{
  saludar(usuario.nombre,usuario.apellido)}}

</h3>

NO HACER ESTO
<h3>{{usuario.nombre +" " + usuario.apellido}}
</h3>
-->
<a href="https://angular.io">
  <img src="https://angular.io/resources/images/logos/angular/angular.svg" alt="Logo Angular">
</a>
<app-estilo></app-estilo>
<app-estilo></app-estilo>
<app-estilo></app-estilo>
