<div class="container">
  <div class="row">
    <h1></h1>
    <br>
  </div>

<!--.row>.col -->
  <div class="container">

    <div class="row">
  <!--ROJO-->
      <div style="background-color: red;"
            class="col-sm-6">ROJO</div>
      <div style="background-color: red;"
           class="col-sm-6">ROJO</div>

      <div style="background-color: blue;"
           class="col-lg-6">AZUL</div>
      <div style="background-color: blue;"
           class="col-lg-6">AZUL</div>

      <div style="background-color: black;"
           class="col-md-6">NEGRO</div>

      <div style="background-color: black;"
           class="col-md-6">NEGRO</div>
      </div>
</div>
  <br>
  <br>

  <div class="container">

    <div class="row">
      <div class="col-sm-2">Bootstrap</div>
      <div class="col-sm-2">Documentation</div>
      <div class="col-sm-2">Bootstrap</div>
      <div class="col-sm-2">Bootstrap</div>
      <div class="col-sm-2">Bootstrap</div>
      <div class="col-sm-2">Bootstrap</div>



    </div>
