<div class="container">
  <h1>Bienvenidos</h1>
  <h2>Usuarios Conectados</h2>

  <div class="row" >
    <div class="col-sm-4" *ngFor="let usuario of arregloUsuarios">
      <div class="card" style="width: 20rem;">
        <div class="card-block">
          <h4 class="card-title">{{usuario.nombre}}</h4>
          <p class="card-text">{{usuario.nombre}} +{{usuario.apellido}}.</p>
          <a href="#" class="btn btn-primary btn-block">Ir a Perfil</a>
        </div>
      </div>
    </div>
  </div>


</div>

<!--
<div class="container">

  <!--
  <input placeholder="Ingrese Texto" type="text" [value]="nombre" #nombreEtiqueta>
-->
 <!-- mantener actualizado la vista y el controlador-->

 <!--
  <input placeholder="Ingrese Texto" type="text" [(ngModel)]="nombre">
  {{nombre}}

  <!--data baining del componente a la vista-->
 <!--
  <img [src]="nombre" alt="">

  <button class="btn btn-primary" (click)="cambiarNombre()">Cambiar valor </button>
  <button (blur)="cambiarOtroNombre()">clickeame</button>

  <h1 (click)="cambiarNombreInput(nombreEtiqueta)">Raquel a Lilian</h1>
</div>





















<!--
<link rel="stylesheet" href="/04-Angular/a-web2/src/assets/Bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/04-Angular/a-web2/src/app/Componentes/inicio/inicio.component.css">

<div >

  <div class="container">
    <div class="cabecera">
      <div class="row">
        <div class="col-md-6">
          <br>
          <img src="https://saew.epn.edu.ec/Imagenes/img/logoSaew.png">
          <p class="a">SAEW v 1.0.1  MARTES, 30 DE MAYO DE 2017</p>
        </div>

        <div class="col-md-6">
          <p class="b">SISTEMA DE ADMINISTRACION ESTUDIANTIL</p>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="row">

      <div class="col-sm-6">

          <h1 class="titulo">Inicio de sesion</h1>
          <div class="gris">
          <label class="cuadro">Modo :</label>
          </div>

          <div class="campo">
          </div>

          <div class="gris">
          <label class="cuadro">Usuario :</label>
          </div>

          <div class="campo">
          </div>

          <div class="gris">
          <label class="cuadro">Clave :</label>
          </div>

          <div class="campo">
          </div>
        <br>
        <br>
        <br>

        <ul style="background-color: whitesmoke">
          <br>
          <li >La primera vez que ingrese al sistema deberá crear su contraseña que consta de 5 a 12 caracteres alfanuméricos.</li>
          <br>
          <li >Si ingresa la clave Errada por 3 ocasiones tendrá 3 intentos más, luego de los cuales el acceso quedará bloqueado. Notifique a la Dirección de Gestión de la Información y Procesos.</li>
          <br>
          <li >No olvide la contraseña, una vez creada guarde la información. RECUERDE: No proporcione su contraseña a terceros.</li>
          <br>
        </ul>
      </div>

      <div class="col-sm-6">
        <h1 class="titulo">Importante</h1>
        <div class="aviso">
          <p>Restablece la Contraseña del CORREO INSTITUCIONAL </p>
          <br>
          <br>
          ¡ESCANEA el código QR!
          <img src="/04-Angular/a-web2/src/assets/Bootstrap/imagenes/Captura.PNG" alt="Codigo QR">
        </div>

        <div>
          <img src="/04-Angular/a-web2/src/assets/Bootstrap/imagenes/Captura2.PNG" alt="calendario">
        </div>

        <br>
        <br>

      </div>

    </div>
    <br>
    <br>
    <div class="footer">
      <p>Escuela Politécnica Nacional © Todos los Derechos Reservados.</p>
      <p>Dirección de Gestión de la Información y Procesos (DGIP) Edif. Administración Planta Baja.</p>
    </div>

  </div>

</div>
-->
